// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;
// Font Sizes
$base-font-size: 1em;
// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
// Colors
$blue: #5795e6;
$light-blue: #2EBAEE;
$dark-blue: #4C579F;
$main-blue: #35418c;
$red: #E63558;
$gray: #DFDFDE;
$dark-gray: #B1B6B7;
$light-gray: #EDF0F1;
$medium-gray: #A7ABAF;
// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;
// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);
// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow,
0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
// Animations
$base-duration: 150ms;
$base-timing: ease;
