.container {
  @include outer-container(100%);
  display: flex;
  height: 100vh;
  flex-direction: row;
  .brownbag--sidebar {
    background: $main-blue;
    width: 30%;
    .sidenav {
      height: 10vh;
      margin-left: 80px;
      background-color: $light-blue;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      nav {
        margin-bottom: 20px;
        color: #FFF;
      }
    }
  }
  .container--content {
    width: 70%;
    background: lighten($light-gray, 5.5%);
    .container--nav {
      background: $light-gray;
      display: flex;
      justify-content: space-between;
      height: 10vh;
      align-items: flex-end;
      border-bottom: 1px solid $light-gray;
      box-shadow: inset 20px -5px 50px rgba(8, 8, 8, 0.1);
      .list {
        width: 90%;
      }
      ul {
        display: flex;
        margin-bottom: 20px;
        margin-left: 30px;
        li {
          font-size: 14px;
          padding-right: 100px;
          padding-left: 20px;
          font-weight: 400;
          a {
            color: darken($dark-gray, 50) &:hover {
              color: $blue;
            }
          }
        }
      }
      .image {
        width: 10%;
      }
      div {
        a {
          margin-left: 10px;
          font-size: 14px;
          font-weight: 600;
          color: darken($dark-gray, 50%);
        }
      }
    }
    .brownbag--feed {
      width: 70%;
      float: left;
      .feed--card {
        border-bottom: 1px solid $dark-gray;
        padding-left: 50px;
        padding-top: 20px;
        h1 {
          font-size: 28px;
          font-weight: 200;
          color: darken($dark-gray, 50%);
          margin-top: 15px;
          margin-bottom: 1px;
        }
      }
      .previous {
        height: 70vh;
        box-shadow: inset 0px 0px 0 40px white;
      }
      .upcoming {
        height: 20vh;
        background: lighten($light-gray, 3%);
      }
      .shuffle {
        height: 20vh;
        background: lighten($light-gray, 3%);
        padding-top: 50px;
        .shuffle--content {
          @include span-columns(9);
        }
        .shuffle--button {
          @include span-columns(3);
          margin-top: 20px;
          img {
            width: 25px;
            height: 25px;
            float: left;
          }
        }
      }
    }
    .table {
      background-color: red;
      margin: 0 auto;
      width: 90%;
      height: 80vh;
      margin-top: 50px;
      border-radius: 2px;
      tr:first-child {
        background: #CC0;
        height: 50px;
      }
      tr:nth-child(2n+3) {
        background: #CCC;
        height: 50px;
      }
      tr:nth-child(even) {
        background: #FFF;
        height: 50px;
      }
      img {
        border-radius: 20px;
        width: 20px;
        height: 10px;
      }
    }
    .brownbag--side-panel {
      width: 30%;
      background: $light-gray;
      height: 90vh;
      overflow: hidden;
      float: left;
      border-left: 1px solid darken($light-gray, 20%);
      h1 {
        text-transform: uppercase;
        font-size: 15px;
        color: darken($dark-gray, 50%);
      }
      .side-panel-content {
        margin-left: 30px;
        margin-top: 50px;
      }
    }
  }
}

.feed--list {
  li {
    color: darken($dark-gray, 50%);
    display: flex;
    align-items: center;
    .avatar {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin: 5px 25px 5px 0px;
    }
  }
}
