.content {
  height: 80vh;
  .intro {
    // width: 30%;
    float: left;
    background: $light-gray;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      z-index: 0;
      opacity: 0.05;
      display: flex;
      justify-content: flex-end;
      transform: translateX(-165px);
    }
    .intro-text {
      position: absolute;
      z-index: 1;
      // height: 45%;
      margin-left: 135px;
      span {
        color: darken($dark-gray, 50%);
        font-size: 65px;
        font-weight: 700;
        line-height: 78px;
      }
      .sub-intro {
        color: $medium-gray;
        margin-top: 20px;
        font-size: 23px;
      }
      .btn-rounded {
        background-color: $blue;
        border-radius: 90px;
        line-height: 35px;
        margin-top: 50px;
        width: 200px;
        &:active,
        &:focus {
          outline: none;
        }
        b {
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }
  .illustration {
    z-index: -5;
    // width: 70%;
    float: left;
    border-bottom: 80vh solid $blue;
    border-left: 500px solid $light-gray;
    img {
      position: absolute;
      top: 20%;
      width: 100%;
      height: 100%;
    }
  }
}
